@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.sociolinkChatPageBlackChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 1920px;
  height: 1080px;
}
.sociolinkChatPageBlackItem {
  position: absolute;
  top: 41px;
  left: 38px;
  height: 1597px;
}
.frameChild,
.frameWrapper {
  position: absolute;
  top: 17px;
  left: 53px;
  width: 43px;
  height: 53px;
  overflow: hidden;
}
.frameWrapper {
  top: 5px;
  left: 21px;
  width: 272px;
  height: 55px;
  opacity: 0;
}
.frameParent.animate,
.frameWrapper.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.frameItem,
.frameParent {
  position: absolute;
  top: 3px;
  left: 36px;
  width: 243px;
  height: 57px;
  overflow: hidden;
}
.frameParent {
  top: 33px;
  left: 25px;
  width: 279px;
  height: 65px;
  opacity: 0;
}
.sociolinkChatPageBlackInner {
  position: absolute;
  top: 47px;
  left: 39px;
  border-radius: var(--br-45xl);
  background: linear-gradient(
    180deg,
    #111 40.1%,
    #402448 72.55%,
    #351e3c 99.98%
  );
  width: 1846px;
  height: 995px;
  mix-blend-mode: normal;
  opacity: 0;
}
.sociolinkChatPageBlackInner.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-bottom;
}
.frameInner,
.rectangleDiv {
  position: absolute;
  top: 20px;
  left: 39px;
  border-radius: var(--br-8xl);
  background-color: var(--color-gray-300);
  width: 296px;
  height: 84px;
}
.frameInner {
  top: 9px;
  left: 0;
  border-radius: var(--br-76xl);
  background-color: var(--color-darkslateblue);
  width: 537px;
  height: 77px;
}
.searchAltIcon {
  position: absolute;
  top: 27px;
  left: 17px;
  width: 41px;
  height: 52px;
}
.search {
  position: absolute;
  top: 26px;
  left: 195px;
  font-weight: 500;
  display: inline-block;
  width: 123px;
}
.rectangleParent {
  position: absolute;
  top: 136px;
  left: 377px;
  width: 537px;
  height: 94px;
  overflow: hidden;
  opacity: 0;
}
.rectangleParent.animate {
  animation: 1s ease 1s 1 normal forwards fade-in;
}
.menu {
  position: absolute;
  top: 17px;
  left: 10px;
  font-size: var(--font-size-4xl);
  font-weight: 600;
}
.frameChild1,
.rectangleIcon {
  position: absolute;
  top: 143px;
  left: 2px;
  border-radius: var(--br-6xl);
  width: 270px;
  height: 70px;
}
.frameChild1 {
  top: 378px;
}
.more {
  position: absolute;
  top: 401px;
  left: 93px;
}
.chatIcon,
.frameChild2 {
  position: absolute;
  top: 168px;
  left: 44px;
  width: 30px;
  height: 30px;
}
.frameChild2 {
  top: 300px;
  left: 2px;
  border-radius: var(--br-6xl);
  width: 270px;
  height: 70px;
}
.activity {
  position: absolute;
  top: 320px;
  left: 91px;
  display: inline-block;
  width: 127px;
  height: 26px;
}
.frameChild3 {
  position: absolute;
  top: 222px;
  left: 2px;
  border-radius: var(--br-6xl);
  width: 270px;
  height: 70px;
}
.activityIcon,
.chartBubbleIcon {
  position: absolute;
  top: 316px;
  left: 42px;
  width: 29px;
  height: 33.4px;
}
.chartBubbleIcon {
  top: 244px;
  height: 29px;
}
.frameChild4,
.homeAltIcon {
  position: absolute;
  cursor: pointer;
}
.frameChild4 {
  top: 65px;
  left: 2px;
  border-radius: var(--br-6xl);
  width: 270px;
  height: 70px;
}
.homeAltIcon {
  top: 85px;
  left: 39px;
  width: 34px;
  height: 34px;
  overflow: hidden;
}
.chats,
.explore,
.home {
  position: absolute;
  left: 91px;
  display: inline-block;
}
.home {
  top: 90px;
  width: 85px;
  height: 30px;
  cursor: pointer;
}
.chats,
.explore {
  width: 127px;
  height: 26px;
}
.chats {
  top: 166px;
  font-weight: 600;
  color: var(--color-fuchsia-300);
}
.explore {
  top: 244px;
}
.pathIcon,
.pathIcon1,
.pathIcon2,
.pathIcon3 {
  position: absolute;
  top: 401px;
  left: 37px;
  border-radius: var(--br-11xs);
  width: 33px;
  height: 4px;
}
.pathIcon1,
.pathIcon2,
.pathIcon3 {
  top: 413px;
}
.pathIcon2,
.pathIcon3 {
  top: 407px;
}
.pathIcon3 {
  top: 419px;
}
.frameChild5,
.menuParent {
  position: absolute;
  opacity: 0;
}
.menuParent {
  top: 244px;
  left: 62px;
  width: 289px;
  height: 481px;
  overflow: hidden;
  font-size: var(--font-size-2xl);
}
.frameChild5.animate,
.menuParent.animate,
.vectorParent.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-left;
}
.frameChild5 {
  top: 39px;
  left: 59px;
  border-radius: var(--br-12xl);
  width: 231px;
  height: 59px;
}
.ellipseIcon,
.parthivShah {
  position: absolute;
  mix-blend-mode: normal;
}
.parthivShah {
  top: 57px;
  left: 134px;
  font-weight: 600;
  display: inline-block;
  width: 161px;
  height: 26px;
}
.ellipseIcon {
  top: 0;
  left: 20px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.vectorParent {
  position: absolute;
  top: 112px;
  left: 44px;
  width: 295px;
  height: 118px;
  overflow: hidden;
  opacity: 0;
  font-size: var(--font-size-xl);
}
.sociolink {
  position: absolute;
  top: 41px;
  left: 108px;
  font-weight: 800;
  background: linear-gradient(92.88deg, #ea35df, #6ae3c2 52.57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.vector377Stroke {
  position: absolute;
  height: 2.47%;
  width: 0.96%;
  top: 4.86%;
  right: 95.04%;
  bottom: 92.67%;
  left: 4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frameChild6,
.subtractIcon {
  position: absolute;
  top: 38px;
  left: 61px;
  width: 36px;
  height: 35px;
}
.frameChild6 {
  top: 1px;
  left: 6px;
  border-radius: var(--br-45xl);
  background-color: var(--color-black);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 537px;
  height: 230px;
}
.frameChild7,
.frameChild8 {
  position: absolute;
  top: 74px;
  left: 27px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.frameChild8 {
  top: 155px;
}
.phnumberCircleFourFillIcon {
  position: absolute;
  top: 102px;
  left: 478px;
  width: 30px;
  height: 30px;
}
.friendsForever {
  position: absolute;
  top: 79px;
  left: 108px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.05em;
  font-weight: 600;
}
.hahahahah,
.today952pm,
.yesterday1231pm {
  position: absolute;
  top: 102px;
  left: 108px;
  letter-spacing: 0.05em;
  font-weight: 300;
}
.today952pm,
.yesterday1231pm {
  top: 80px;
  left: 403px;
  letter-spacing: 0.01em;
  color: var(--color-gray-100);
}
.yesterday1231pm {
  top: 161px;
  left: 368px;
}
.kyuuuuu {
  top: 183px;
  left: 108px;
  font-weight: 300;
}
.groups,
.kyuuuuu,
.myGang {
  position: absolute;
  letter-spacing: 0.05em;
}
.myGang {
  top: 159px;
  left: 108px;
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.groups {
  top: 22px;
  left: 34px;
  font-size: var(--font-size-11xl);
}
.lineDiv {
  position: absolute;
  top: 137.5px;
  left: 32.5px;
  border-top: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 475px;
  height: 1px;
}
.rectangleGroup {
  position: absolute;
  top: 237px;
  left: 371px;
  width: 543px;
  height: 233px;
  overflow: hidden;
  opacity: 0;
  font-size: var(--font-size-base);
  font-family: var(--font-roboto);
}
.rectangleGroup.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.frameChild9,
.frameDiv {
  position: absolute;
  top: 19px;
  height: 1010px;
}
.frameDiv {
  left: 3px;
  width: 956px;
  overflow: hidden;
}
.frameChild9 {
  left: 7px;
  border-radius: var(--br-45xl);
  background-color: var(--color-black);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 952px;
}
.frameChild10 {
  position: absolute;
  top: 53px;
  left: 46px;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  object-fit: cover;
}
.frameChild11,
.frameChild12 {
  position: absolute;
  top: 925px;
  left: 36px;
  border-radius: var(--br-21xl);
  background-color: var(--color-darkslateblue);
  width: 783px;
  height: 79px;
}
.frameChild12 {
  top: 923px;
  left: 843px;
  border-radius: var(--br-30xl);
  background-color: var(--color-fuchsia-200);
  width: 78px;
  height: 78px;
}
.fluentcamera24RegularIcon {
  position: absolute;
  top: 946px;
  left: 758px;
  width: 38px;
  height: 38px;
}
.fluentemojiLaugh16RegularIcon {
  position: absolute;
  top: 944px;
  left: 690px;
  width: 43px;
  height: 43px;
}
.antDesignpaperClipOutlinedIcon {
  position: absolute;
  top: 945px;
  left: 58px;
  width: 42px;
  height: 42px;
}
.joy,
.onlineLast,
.today830pm {
  position: absolute;
  letter-spacing: 0.05em;
  display: inline-block;
}
.joy {
  top: 58px;
  left: 146px;
  font-size: var(--font-size-13xl);
  font-weight: 600;
  width: 90px;
  height: 32px;
}
.onlineLast,
.today830pm {
  font-weight: 300;
  height: 26px;
}
.onlineLast {
  top: 98px;
  left: 146px;
  width: 347px;
}
.today830pm {
  top: 339px;
  left: 78px;
}
.today830pm,
.today833pm,
.today834pm,
.today836pm {
  color: var(--color-dimgray-100);
  width: 171px;
}
.today836pm {
  position: absolute;
  top: 731px;
  left: 77px;
  letter-spacing: 0.05em;
  font-weight: 300;
  display: inline-block;
  height: 26px;
}
.today833pm,
.today834pm {
  left: 733px;
}
.today833pm {
  position: absolute;
  top: 464px;
  letter-spacing: 0.05em;
  font-weight: 300;
  display: inline-block;
  height: 26px;
}
.today834pm {
  top: 588px;
}
.today834pm,
.today858pm,
.typeYourMessage {
  position: absolute;
  letter-spacing: 0.05em;
  font-weight: 300;
  display: inline-block;
  height: 26px;
}
.today858pm {
  top: 845px;
  left: 733px;
  color: var(--color-dimgray-100);
  width: 171px;
}
.typeYourMessage {
  top: 952px;
  left: 131px;
  font-size: var(--font-size-5xl);
  width: 347px;
}
.frameChild13 {
  position: absolute;
  top: 148px;
  left: 41.5px;
  border-top: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 876px;
  height: 1px;
}
.bithreeDotsVerticalIcon {
  position: absolute;
  top: 71px;
  left: 891px;
  width: 40px;
  height: 40px;
}
.ciphoneOutlineIcon {
  position: absolute;
  top: 70px;
  left: 738px;
  width: 42px;
  height: 42px;
}
.bimicFillIcon,
.fluentvideo16RegularIcon {
  position: absolute;
  top: 66px;
  left: 815px;
  width: 48px;
  height: 48px;
}
.bimicFillIcon {
  top: 943px;
  left: 863px;
  width: 38px;
  height: 38px;
}
.frameChild14,
.frameChild15,
.frameChild16,
.frameChild17,
.frameChild18,
.frameChild19 {
  position: absolute;
  top: 188px;
  left: 58px;
  border-radius: var(--br-6xl);
  background-color: var(--color-darkslategray-400);
  width: 221px;
  height: 59px;
}
.frameChild15,
.frameChild16,
.frameChild17,
.frameChild18,
.frameChild19 {
  top: 270px;
  left: 56px;
  width: 267px;
}
.frameChild16,
.frameChild17,
.frameChild18,
.frameChild19 {
  top: 664px;
  width: 582px;
}
.frameChild17,
.frameChild18,
.frameChild19 {
  top: 397px;
  left: 715px;
  background-color: var(--color-fuchsia-200);
  width: 181px;
}
.frameChild18,
.frameChild19 {
  top: 521px;
  left: 467px;
  width: 429px;
}
.frameChild19 {
  top: 778px;
  left: 695px;
  width: 201px;
}
.ellipseDiv,
.frameChild20,
.frameChild21,
.frameChild22,
.frameChild23,
.frameChild24 {
  position: absolute;
  top: 239px;
  left: 44px;
  border-radius: 50%;
  background-color: var(--color-darkslategray-400);
  width: 18px;
  height: 18px;
}
.frameChild20,
.frameChild21,
.frameChild22,
.frameChild23,
.frameChild24 {
  top: 324px;
  left: 43px;
}
.frameChild21,
.frameChild22,
.frameChild23,
.frameChild24 {
  top: 715px;
  left: 42px;
}
.frameChild22,
.frameChild23,
.frameChild24 {
  top: 445px;
  left: 899px;
  background-color: var(--color-fuchsia-200);
}
.frameChild23,
.frameChild24 {
  top: 569px;
}
.frameChild24 {
  top: 826px;
}
.hello,
.heyThere,
.howAreYou,
.iAmDoing,
.iAmFine,
.yesSure {
  position: absolute;
  top: 202px;
  left: 99px;
  font-size: var(--font-size-7xl);
  letter-spacing: 0.05em;
  display: inline-block;
  width: 152px;
  height: 26px;
}
.hello,
.howAreYou,
.iAmDoing,
.iAmFine,
.yesSure {
  top: 284px;
  left: 97px;
  width: 209px;
}
.hello,
.iAmDoing,
.iAmFine,
.yesSure {
  top: 678px;
  width: 550px;
}
.hello,
.iAmFine,
.yesSure {
  top: 412px;
  left: 768px;
  color: var(--color-black);
  width: 132px;
}
.iAmFine,
.yesSure {
  top: 536px;
  left: 517px;
  width: 452px;
}
.yesSure {
  top: 792px;
  left: 745px;
  width: 139px;
}
.frameGroup {
  position: absolute;
  top: 16px;
  left: 926px;
  width: 969px;
  height: 1040px;
  overflow: hidden;
  opacity: 0;
  font-size: var(--font-size-xl);
  font-family: var(--font-roboto);
}
.frameGroup.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-right;
}
.phnumberCircleThreeFillIcon {
  position: absolute;
  top: 501px;
  left: 317px;
  width: 30px;
  height: 30px;
  display: none;
}
.frameChild25 {
  position: absolute;
  top: 17px;
  left: 13px;
  border-radius: var(--br-45xl);
  background-color: var(--color-black);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 537px;
  height: 562px;
}
.frameChild26 {
  position: absolute;
  top: 516px;
  left: 33px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.wednesday912am {
  position: absolute;
  top: 529px;
  left: 370px;
  letter-spacing: 0.01em;
  font-weight: 300;
  color: var(--color-gray-100);
}
.hiking,
.itsNotGoing {
  position: absolute;
  top: 552px;
  left: 116px;
  letter-spacing: 0.05em;
  font-weight: 300;
}
.hiking {
  top: 529px;
  left: 114px;
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.frameChild27,
.frameChild28,
.frameChild29,
.frameChild30,
.frameChild31 {
  position: absolute;
  top: 98px;
  left: 34px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.frameChild28,
.frameChild29,
.frameChild30,
.frameChild31 {
  top: 353px;
  left: 33px;
}
.frameChild29,
.frameChild30,
.frameChild31 {
  top: 267px;
  left: 34px;
}
.frameChild30,
.frameChild31 {
  top: 435px;
  left: 33px;
}
.frameChild31 {
  top: 183px;
  left: 34px;
}
.charmtickDoubleIcon,
.charmtickDoubleIcon1 {
  position: absolute;
  top: 127px;
  left: 481px;
  width: 25px;
  height: 25px;
}
.charmtickDoubleIcon1 {
  top: 499px;
  left: 488px;
}
.phnumberCircleFiveFillIcon {
  position: absolute;
  top: 377px;
  left: 481px;
  width: 30px;
  height: 30px;
}
.phnumberCircleOneFillIcon,
.phnumberCircleOneFillIcon1 {
  position: absolute;
  top: 212px;
  left: 481px;
  width: 30px;
  height: 30px;
}
.phnumberCircleOneFillIcon1 {
  top: 297px;
  left: 480px;
}
.anil,
.billGates,
.maryMaam {
  position: absolute;
  top: 101px;
  left: 115px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.05em;
  font-weight: 600;
}
.billGates,
.maryMaam {
  top: 359px;
  left: 114px;
}
.maryMaam {
  top: 271px;
}
.aprilFoolsDay,
.nevermindBro {
  position: absolute;
  top: 125px;
  left: 115px;
  letter-spacing: 0.05em;
  font-weight: 300;
}
.nevermindBro {
  top: 382px;
  left: 114px;
}
.today1211pm,
.today240pm,
.today952pm1,
.wednesday1112am,
.yesterday1231pm1 {
  position: absolute;
  top: 106px;
  left: 410px;
  letter-spacing: 0.01em;
  font-weight: 300;
  color: var(--color-gray-100);
}
.today1211pm,
.today240pm,
.wednesday1112am,
.yesterday1231pm1 {
  top: 272px;
  left: 408px;
}
.today1211pm,
.wednesday1112am,
.yesterday1231pm1 {
  top: 189px;
  left: 399px;
}
.wednesday1112am,
.yesterday1231pm1 {
  top: 357px;
  left: 377px;
}
.wednesday1112am {
  top: 438px;
  left: 360px;
}
.baag,
.okayBrotherLets,
.youHaveTo {
  position: absolute;
  top: 213px;
  left: 115px;
  letter-spacing: 0.05em;
  font-weight: 300;
}
.okayBrotherLets,
.youHaveTo {
  top: 463px;
  left: 114px;
}
.youHaveTo {
  top: 295px;
  left: 116px;
}
.raj {
  top: 189px;
  left: 115px;
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.people,
.raj,
.victoriaH {
  position: absolute;
  letter-spacing: 0.05em;
}
.victoriaH {
  top: 439px;
  left: 114px;
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.people {
  top: 37px;
  left: 41px;
  font-size: var(--font-size-11xl);
}
.frameChild32,
.frameChild33,
.frameChild34,
.frameChild35 {
  position: absolute;
  top: 248.5px;
  left: 39.5px;
  border-top: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 475px;
  height: 1px;
}
.frameChild33,
.frameChild34,
.frameChild35 {
  top: 502.5px;
  left: 38.5px;
}
.frameChild34,
.frameChild35 {
  top: 162.5px;
  left: 39.5px;
}
.frameChild35 {
  top: 415.5px;
  left: 38.5px;
}
.frameChild36,
.lineIcon {
  position: absolute;
  top: 332px;
  left: 42.5px;
  width: 474px;
  height: 1px;
}
.frameChild36 {
  top: 480px;
  left: 451px;
  border-radius: var(--br-132xl);
  background-color: var(--color-darkslateblue);
  width: 77px;
  height: 77px;
}
.div {
  position: absolute;
  top: 486px;
  left: 474px;
  font-size: var(--font-size-29xl);
  font-weight: 500;
  font-family: var(--font-inter);
}
.frameChild37,
.phnumberCircleThreeFillParent {
  position: absolute;
  top: 14px;
  left: 13px;
  width: 537px;
  height: 565px;
  overflow: hidden;
}
.phnumberCircleThreeFillParent {
  top: 466px;
  left: 364px;
  width: 550px;
  height: 590px;
  opacity: 0;
  font-size: var(--font-size-base);
  font-family: var(--font-roboto);
}
.chatsWrapper.animate,
.phnumberCircleThreeFillParent.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.settings {
  position: absolute;
  top: 23px;
  left: 95px;
  font-weight: 600;
  display: inline-block;
  width: 127px;
  height: 26px;
}
.frameIcon,
.settingsParent {
  position: absolute;
  top: 19px;
  left: 17px;
  width: 182px;
  height: 47px;
  overflow: hidden;
}
.settingsParent {
  top: 963px;
  left: 53px;
  width: 251px;
  height: 74px;
  font-size: var(--font-size-2xl);
  color: #f2c6f0;
}
.chats1 {
  position: absolute;
  top: 9px;
  left: 17px;
  font-weight: 600;
}
.chatsWrapper {
  position: absolute;
  top: 60px;
  left: 369px;
  width: 187px;
  height: 76px;
  overflow: hidden;
  opacity: 0;
  font-size: var(--font-size-34xl);
}
.sociolinkChatPageBlack {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
